@{
    ViewBag.Title = "Home | Index";
}

<table class="table">
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Password</th>
        <th>Name</th>
        <th>Role</th>
    </tr>
    <tr>
        <td>A1</td>
        <td>leongyc-wp22@student.tarc.edu.my</td>
        <td>123456</td>
        <td>You Cheng</td>
        <td>Admin</td>
    </tr>
    <tr>
                <td>A2</td>

        <td>js@gmail.com</td>
        <td>123456</td>
        <td>Jenson</td>
        <td>Admin</td>
    </tr>
    <tr>
                <td>M1</td>

        <td>sz@gmail.com</td>
        <td>123456</td>
        <td>Yu Shen</td>
        <td>Member</td>
    </tr>
    <tr>
                <td>M1</td>

        <td>jy@gmail.com</td>
        <td>123456</td>
        <td>Jun Yi</td>
        <td>Member</td>
    </tr>
</table>
